.clear{
  clear:both;
}

.form_text_input{
   width:50%;
   float:left;
   padding-left: 8px;
   padding-left: 8px;
}

.submit_btn_holder{ 
	text-align: center; 
}

.notify_label{
	color:red;
}

.green_label{
	color:green;
}