.clear{
  clear:both;
}

.form_mini_text_input{
   width:25%;
   float:left;
   padding-left: 20px;
   padding-right: 20px;
}

.form_half_text_input{
   width:50%;
   float:left;
   padding-left: 20px;
   padding-right: 20px;
}

.form_full_text_input{
	width:100%;
	float:left;
   	padding-left: 20px;
   	padding-right: 20px;
}

.submit_btn_holder{ 
	text-align: center; 
}

.notify_label{
	color:red;
}

.green_label{
	color:green;
}

.form_login_text_input{
	max-width: 500px;
	width:90%;
	margin: auto;
}